/* body */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    background-color: #EDF1F5;
}

p {
    margin: 0;
}

/* menu */
div.menu {
    display: flex;
    background-color: #2B2D42;
}

/* menu top left */
div.menu-left {
    display: flex;
    flex: 1;
}

div.content-menu-left {
    padding: 0px 200px;
    display: flex;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

p.animene-white {
    font-size: 20px;
    color: white;
    align-self: center;
}

p.animene-blue {
    font-size: 20px;
    color: #18c1f0;
    align-self: center;
}

/* menu top center */
div.menu-center {
    display: flex;
    color: rgb(255, 255, 255);
    flex: 2;
}

.menu-center .content-menu-center,
.menu-right .content-menu-right {
    text-decoration: none;
    color: white;
}

a.content-menu-center {
    padding: 21px 15px;
    color: white;
    align-self: center;
}

a.content-menu-center:hover {
    color: #18c1f0;
}

a {
    text-decoration: none;
}

/* menu top right */
div.menu-right {
    display: flex;
    color: aliceblue;
    flex: 1;
    align-self: center;
}

.log-in {
    border: 2px solid #18c1f0;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    align-self: center;
}

.sign-up {
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    background-color: #18c1f0;
    align-self: center;
}

/* search bar */
.search {
    margin: 90px 190px;
}

.search-bar {
    border: 0px solid black;
    padding: 7px 10px;
    border-radius: 3px;
    color: #18c1f0;
    width: 90%;
}

.search-on-search-bar {
    padding: 0px 0px 5px 1px;
    width: 200px;
    font-weight: 900;
}

/* icon credit */
.bi-credit-card-fill {
    margin: 0px 0px 0px 55px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

.bi-credit-card-fill:hover {
    color: #18c1f0;
}

/* tools */ 
.tools {
    display:flex;
    margin:0px 175px 0px 190px;
}
/* tools left */
.tools-left {
    flex:2;
}
/* tools right */
.tools-right {
    flex:1;
}


























/* menu content */
.menu-content {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    padding: 0px 130px;
}

/* image */
img {
    width: 200px;
    height: 293px;
    border-radius: 5px;
}

.content:hover {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.content {
    color: rgb(131, 131, 131);
}

.fix {
    padding-right: 0px;
    padding-left: 0px;
    margin: 15px 0px 20px 30px;
}

#name-movie {
    font-size: 14px;
}

#name-movie {
    word-wrap: break-word;
    width: 200px;
}

.head-menu-content {
    padding: 0px 0px 0px 190px;
    width: 700px;
    margin: 0px;
    font-size: 22px;
}