/*  body */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    background-color: #EDF1F5;
    overflow: scroll;
}

p {
    margin: 0;
}

/* menu */
div.menu {
    display: flex;
    background-color: #2B2D42;
}

/* menu top left */
div.menu-left {
    display: flex;
    flex: 1;
}

div.content-menu-left {
    padding: 0px 200px;
    display: flex;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.animene-white {
    font-size: 20px;
    color: white;
    align-self: center;
    font-weight: 600;
    letter-spacing: 5px;

}

.animene-blue {
    font-size: 20px;
    color: #18c1f0;
    align-self: center;
    font-weight: 600;
    letter-spacing: 5px;
}

/* menu top center */
div.menu-center {
    display: flex;
    color: rgb(255, 255, 255);
    flex: 2;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.menu-center .content-menu-center,
.menu-right .content-menu-right {
    text-decoration: none;
    color: white;
}

a.content-menu-center {
    padding: 21px 15px;
    color: white;
    align-self: center;
}

a.content-menu-center:hover {
    color: #18c1f0;
}

a {
    text-decoration: none;
}

/* menu top right */
div.menu-right {
    display: flex;
    color: aliceblue;
    flex: 1;
    align-self: center;
}

.log-in {
    border: 2px solid #18c1f0;
    border-radius: 3px;
    color: white;
    padding: 6px 22px;
    margin: 10px;
    align-self: center;
    font-weight: 900;
}

.sign-up {
    border-radius: 3px;
    color: white;
    padding: 8px 22px;
    margin: 10px;
    background-color: #18c1f0;
    align-self: center;
    font-weight: 900;
}

/* -------------------- search bar --------------------*/
/* search bar */
.search {
    margin: 70px 170px 20px 190px;
}

.search-bar {
    border: none;
    border-radius: 3px;
    width: 1040px;
    padding: 7px 10px 7px 10px;
    margin: 0px 20px 0px 0px;
    color: #18c1f0;
}

.search-on-search-bar {
    padding: 0px 0px 5px 1px;
    width: 200px;
    font-weight: 900;
}

/* bi-columns-gap */
.bi-columns-gap {
    margin: 0px 0px 0px 55px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.bi-columns-gap:hover {
    color: #18c1f0;
}

/* ------------------- drop down ----------------*/
/* drop down */
.dropdown {
    display: flex;
    margin: 30px 170px 30px 190px;
}

.dropdown-left {
    flex: 5;
}

.dropdown-right {
    display: flex;
    flex: 1;
}

/* dropdown right all */
.dropdown-right-all-content {
    flex: 1;
    background-color: #EDF1F5;
    border: none;
    border: 1px solid #EDF1F5;
    border-radius: 3px;
    color: rgb(131, 131, 131);
    padding: 5px 10px;
    width: 158px;
}

.dropdown-right-all-content:focus {
    border: 1px solid black;
    border-radius: 3px;
    color: rgb(83, 81, 81);
}

/* bi chevron down */
.bi-chevron-down {
    margin: 0px 0px 0px 10px;
}

/* dropdown menu */
.dropdown-menu {
    width: 100px;
}

/* dropdown item name */
.dropdown-item-name {
    font-size: small;
    padding: 7px 5px 7px 20px;
}

.dropdown-item-name:hover {
    background-color: #EDF1F5;
    color: #18c1f0
}

/* dropdown left all */
.dropdown-left-all {
    flex: 1;
    padding: 5px 0px 5px 10px;
    margin: 0px 0px 0px 20px;
    width: 100px;
}

.dropdown-left-all-bi {
    display: flex;
}

.bi-grid-1x2 {
    padding: 0px 5px 0px 5px;
    flex: 1;
    align-self: center;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.bi-grid {
    padding: 0px 5px 0px 5px;
    align-self: center;
    flex: 1;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.bi-grid-3x3 {
    padding: 0px 5px 0px 5px;
    flex: 1;
    align-self: center;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

/* ------------------- click 1 ------------------- */
/* menu content */
.menu-content {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    padding: 0px 130px;
}

/* picture-click-1 */
.picture-click-1{
    width: 200px;
    height: 293px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content:hover {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.content {
    color: rgb(131, 131, 131);
}

.fix {
    padding-right: 0px;
    padding-left: 0px;
    margin: 15px 0px 20px 30px;
}

#name-movie {
    font-size: 14px;
}

#name-movie {
    word-wrap: break-word;
    width: 200px;
}

.head-menu-content {
    padding: 0px 0px 0px 190px;
    width: 700px;
    margin: 0px;
    font-size: 22px;
}

/* ------------------- click 2 ------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* menu-between-2-column */
.menu-between-2-column {
    display: flex;
    margin: 0px 170px 0px 155px;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* menu-between-2-column-left-all */
.menu-between-2-column-left-all {
    display: flex;
    flex: 1;
    background-color: white;
    margin: 35px 0px 0px 35px;
    height: 265px;
}

/* -------------------------------------------------------- */
/* menu-between-2-column-left-all-left */
.menu-between-2-column-left-all-left {
    flex: 1;
}

/* -------------------------------------------------------- */
/* menu-between-2-column-left-all-right */
.menu-between-2-column-left-all-right {
    flex: 2;
    height: 80px;
    color: rgb(131, 131, 131);
}

/* menu-between-2-column-left-all-right-top */
.menu-between-2-column-left-all-right-top {
    display: flex;
    padding: 15px 15px 15px 15px;
}

/* menu-between-2-column-left-all-right-center */
.menu-between-2-column-left-all-right-center .menu-between-2-column-left-all-right-center-content {
    overflow-y: hidden;
    height: 140px;
    font-size: 12px;
    opacity: 0.8;
    padding: 0px 15px 0px 15px;
}

.menu-between-2-column-left-all-right-center-content:hover {
    overflow-y: scroll;
}

.menu-between-2-column-left-all-right-center-content::-webkit-scrollbar {
    width: 8px;
}

.menu-between-2-column-left-all-right-center-content::-webkit-scrollbar-thumb {
    background-color: #18c1f0;
    outline: 1px solid white;
    border-radius: 5px;
}

.menu-between-2-column-left-all-right-center-content-line-all {
    display: block;
    padding: 15px 0px 15px 0px;
}

/* menu-between-2-column-left-all-right-bottom */
.menu-between-2-column-left-all-right-bottom {
    display: flex;
    background-color: rgb(241, 239, 239);
    height: 57px;
    padding: 15px 10px 10px 10px;
    align-self: center;
}

.menu-between-2-column-left-all-right-bottom-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;

}

.menu-between-2-column-left-all-right-bottom-content-name {
    color: white;
    font-size: 12px;
    background-color: #18c1f0;
    border-radius: 15px;
    border: 1px solid black;
    padding: 0px 15px 0px 15px;
}

.menu-between-2-column-left-all-right-bottom-content-name:hover {
    color: white;
    text-decoration: none;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* menu-between-2-column-right-all */
.menu-between-2-column-right-all {
    display: flex;
    flex: 1;
    background-color: white;
    margin: 35px 0px 0px 35px;
    height: 265px;
}

/* -------------------------------------------------------- */
/* menu-between-2-column-right-all-left */
.menu-between-2-column-right-all-left {
    flex: 1;
}


/* -------------------------------------------------------- */
/* menu-between-2-column-right-all-right */
.menu-between-2-column-right-all-right {
    flex: 2;
    height: 80px;
    color: rgb(131, 131, 131);
}

/* -- */
/* menu-between-2-column-right-all-right-top */
.menu-between-2-column-right-all-right-top {
    display: flex;
    padding: 15px 15px 10px 15px;
}

/* -- */
/* menu-between-2-column-right-all-right-center */
.menu-between-2-column-right-all-right-center .menu-between-2-column-right-all-right-center-content {
    overflow-y: hidden;
    height: 140px;
    font-size: 12px;
    opacity: 0.8;
    padding: 0px 15px 0px 15px;
}

.menu-between-2-column-right-all-right-center-content:hover {
    overflow-y: scroll;
    padding: 0px 15px 15px 15px;
}

.menu-between-2-column-right-all-right-center-content::-webkit-scrollbar {
    width: 8px;
}

.menu-between-2-column-right-all-right-center-content::-webkit-scrollbar-thumb {
    background-color: #18c1f0;
    outline: 1px solid white;
    border-radius: 5px;
}

.menu-between-2-column-right-all-right-center-content-line-all {
    display: block;
    padding: 15px 0px 15px 0px;
}

/* -- */
/* menu-between-2-column-right-all-right-bottom */
.menu-between-2-column-right-all-right-bottom {
    display: flex;
    background-color: rgb(241, 239, 239);
    height: 57px;
    padding: 15px 10px 10px 10px;
    align-self: center;
}

.menu-between-2-column-right-all-right-bottom-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;

}

.menu-between-2-column-right-all-right-bottom-content-name {
    color: white;
    font-size: 12px;
    background-color: #18c1f0;
    border-radius: 15px;
    border: 1px solid black;
    padding: 0px 15px 0px 15px;
}

.menu-between-2-column-right-all-right-bottom-content-name:hover {
    color: white;
    text-decoration: none;
}

/* -------------------------------------------------------- */
/* picture-click-2 */
.picture-click-2 {
    height: 265px;
    width: 187px;
}

/* -- id name movie -- */
.id-name-movie {
    flex: 3;
}

.id-name-movie-top {
    font-weight: 900;
    display: block;
}

.id-name-movie-bottom {
    font-size: 13px;
    display: block;
}

/* -- fake between -- */
.fake-between {
    flex: 3;
}

/* -- icon-number-percent -- */
.icon-number-percent {
    flex: 1;
    align-self: center;
}

.bi-emoji-expressionless {
    color: rgb(127, 214, 91);
    font-weight: 500;
}
/* --------------- click-3 --------------*/
/*  top 100 anime */
.summary-content-menu {
    display: flex;
    margin: 40px 170px 0 190px;
    background-color: white;
    padding: 10px;
}

.summary-content-menu-left {
    flex: 1;
}

img.font-size-img {
    width: 40px;
    height: 60px;
    margin: 0 10px 0 0;
    border-radius:0px;
}

.summary-content-menu-center {
    flex: 17;
}

.summary-content-menu-center-top {
    margin: 0 0 5px 0;
}

.top-100-anime-hot-topic {
    color: black;
}

.top-100-anime-hot-topic:hover {
    color: black;
    text-decoration: none;
}

.top-100-anime-hot-menu {
    color: white;
    border-radius: 10px;
    background-color: #18c1f0;
    padding: 0 10px;
    font-size: small;
    margin: 0 5px;
}

.top-100-anime-hot-menu:hover {
    color: white;
    text-decoration: none;
}

.summary-content-menu-right {
    flex: 10;
    display: flex;
}

.summary-content-menu-right-feed-back {
    margin: 0 65px 0 0;
    align-self: center;
}

.bi-emoji-smile {
    color: #30f4b6;
}
/* ------------------- footer ------------------- */
/* content-footer */
.footer {
    background-color: #2B2D42;
    height: 280px;
    padding: 50px;
    margin: 50px 0px 0px 0px;

}

.content-footer {
    width: 80%;
    color: white;
    margin: 0px 140px;
    cursor: pointer;
}

th,
td {
    padding: 10px;
}

.content-footer-menu:hover {
    color: #18c1f0;
    text-decoration: none;
}

.content-footer-menu {
    color: white;
    font-weight: 900;
}