/*  body */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    background-color: #EDF1F5;
    overflow: scroll;
}

p {
    margin: 0;
}

/* menu */
div.menu {
    display: flex;
    background-color: #2B2D42;
}

/* menu top left */
div.menu-left {
    display: flex;
    flex: 1;
}

div.content-menu-left {
    padding: 0px 200px;
    display: flex;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.animene-white {
    font-size: 20px;
    color: white;
    align-self: center;
    font-weight: 600;
    letter-spacing: 5px;

}

.animene-blue {
    font-size: 20px;
    color: #18c1f0;
    align-self: center;
    font-weight: 600;
    letter-spacing: 5px;
}

/* menu top center */
div.menu-center {
    display: flex;
    color: rgb(255, 255, 255);
    flex: 2;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.menu-center .content-menu-center,
.menu-right .content-menu-right {
    text-decoration: none;
    color: white;
}

a.content-menu-center {
    padding: 21px 15px;
    color: white;
    align-self: center;
}

a.content-menu-center:hover {
    color: #18c1f0;
}

a {
    text-decoration: none;
}

/* menu top right */
div.menu-right {
    display: flex;
    color: aliceblue;
    flex: 1;
    align-self: center;
}

.log-in {
    border: 2px solid #18c1f0;
    border-radius: 3px;
    color: white;
    padding: 6px 22px;
    margin: 10px;
    align-self: center;
    font-weight: 900;
}

.sign-up {
    border-radius: 3px;
    color: white;
    padding: 8px 22px;
    margin: 10px;
    background-color: #18c1f0;
    align-self: center;
    font-weight: 900;
}

/* content login */
.content-login {
    display: flex;
    margin: 70px 0px 0px 0px;
}

.content-login-left {
    flex: 3;
}

/* content login center */
.content-login-center {
    flex: 2;
    background-color: white;
    height: 570px;
    border-radius: 5px;
}

/* title top */
.title-top {
    text-align: center;
    color: #2B2D42;
    margin: 30px 0px 50px 0px;
    font-size: 25px;
    font-weight: 900;
}

.email {
    margin: 30px 50px 0px 50px;
    font-weight: 900;
}

.search-email-pass-word {
    margin: 0px 50px 25px 50px;
}

.search-bar {
    width: 285px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #EDF1F5;
}

.password {
    margin: 30px 50px 0px 50px;
    font-weight: 900;
}

/* title bottom */
.title-bottom {
    background-color: #18c1f0;
    width: 285px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    margin: 30px 50px 5px 50px;
    color: white;
    padding: 5px 0px 0px 0px;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}

/* restart password */
.restart-password {
    margin: 0px 0px 50px 225px;
    font-size: 14px;

}

.link-restart-password {
    color: #2B2D42;

}

.link-restart-password:hover {
    text-decoration: none;
    color: #2B2D42;
}

/* support */
.support {
    margin: 0px 50px 0px 80px;
}

.support {
    font-size: 15px;
}

.sign-up-now {
    color: #18c1f0;
}

.sign-up-now:hover {
    text-decoration: none;
    color: #18c1f0;

}

/* content login left */

.content-login-right {
    flex: 3;
}

/* content-footer */
.footer {
    background-color: #2B2D42;
    height: 280px;
    padding: 50px;
    margin: 50px 0px 0px 0px;

}

.content-footer {
    width: 80%;
    color: white;
    margin: 0px 140px;
    cursor: pointer;
}

th,
td {
    padding: 10px;
}

.content-footer-menu:hover {
    color: #18c1f0;
    text-decoration: none;
}

.content-footer-menu {
    color: white;
    font-weight: 900;
}