/*  body */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    background-color: #EDF1F5;
    overflow: scroll;
}

p {
    margin: 0;
}

/* menu */
div.menu {
    display: flex;
    background-color: #2B2D42;
}

/* menu top left */
div.menu-left {
    display: flex;
    flex: 1;
}

div.content-menu-left {
    padding: 0px 200px;
    display: flex;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.animene-white {
    font-size: 20px;
    color: white;
    align-self: center;
    font-weight: 600;
    letter-spacing: 5px;

}

.animene-blue {
    font-size: 20px;
    color: #18c1f0;
    align-self: center;
    font-weight: 600;
    letter-spacing: 5px;
}

/* menu top center */
div.menu-center {
    display: flex;
    color: rgb(255, 255, 255);
    flex: 2;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.menu-center .content-menu-center,
.menu-right .content-menu-right {
    text-decoration: none;
    color: white;
}

a.content-menu-center {
    padding: 21px 15px;
    color: white;
    align-self: center;
}

a.content-menu-center:hover {
    color: #18c1f0;
}

a {
    text-decoration: none;
}

/* menu top right */
div.menu-right {
    display: flex;
    color: aliceblue;
    flex: 1;
    align-self: center;
}

.log-in {
    border: 2px solid #18c1f0;
    border-radius: 3px;
    color: white;
    padding: 6px 22px;
    margin: 10px;
    align-self: center;
    font-weight: 900;
}

.sign-up {
    border-radius: 3px;
    color: white;
    padding: 8px 22px;
    margin: 10px;
    background-color: #18c1f0;
    align-self: center;
    font-weight: 900;
}

/* search bar */
.search {
    margin: 70px 170px 20px 190px;
}

.search-bar {
    border:none;
    border-radius: 3px;
    width:1040px;
    padding:7px 10px 7px 10px;
    margin:0px 78px 0px 0px;
    color: #18c1f0;
}

.search-on-search-bar {
    padding: 0px 0px 5px 1px;
    width: 200px;
    font-weight: 900;
}

.bi-columns-gap {
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

.bi-columns-gap:hover {
    color: #18c1f0;
}


/* boottrap row */
.menu-content {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    padding: 0px 130px;
}

img {
    width: 200px;
    height: 293px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content:hover {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.content {
    color: rgb(131, 131, 131);
}

.fix {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px 0px 0px 30px;
}

#name-movie {
    font-size: 14px;
}

#name-movie {
    word-wrap: break-word;
    width: 200px;
}

.head-menu-content {
    padding: 30px 0px 10px 190px;
    width: 700px;
    margin: 0px;
    font-size: 20px;
    font-weight:900;
}

/*  top 100 anime */
.summary-content-menu {
    display: flex;
    margin: 40px 170px 0 190px;
    background-color: white;
    padding: 10px;
}

.summary-content-menu-left {
    flex: 1;
}

img.font-size-img {
    width: 40px;
    height: 60px;
    margin: 0 10px 0 0;
    border-radius:0px;
}

.summary-content-menu-center {
    flex: 17;
}

.summary-content-menu-center-top {
    margin: 0 0 5px 0;
}

.top-100-anime-hot-topic {
    color: black;
}

.top-100-anime-hot-topic:hover {
    color: black;
    text-decoration: none;
}

.top-100-anime-hot-menu {
    color: white;
    border-radius: 10px;
    background-color: #18c1f0;
    padding: 0 10px;
    font-size: small;
    margin: 0 5px;
}

.top-100-anime-hot-menu:hover {
    color: white;
    text-decoration: none;
}

.summary-content-menu-right {
    flex: 10;
    display: flex;
}

.summary-content-menu-right-feed-back {
    margin: 0 65px 0 0;
    align-self: center;
}

.bi-emoji-smile {
    color: #30f4b6;
}

/* content-footer */
.footer {
    background-color: #2B2D42;
    height: 280px;
    padding: 50px;
    margin: 50px 0px 0px 0px;

}

.content-footer {
    width: 80%;
    color: white;
    margin: 0px 140px;
    cursor: pointer;
}

th,
td {
    padding: 10px;
}

.content-footer-menu {
    color: white;
    font-weight: 900;
    
}

.content-footer-menu:hover {
    color: #18c1f0;
    text-decoration: none;
}